APP_NAME=Currency Rates ETL API
CBR_RATES_URL=https://www.cbr.ru/scripts/XML_daily.asp

POSTGRES_USER=currency_user
POSTGRES_PASSWORD=currency_password
POSTGRES_DB=currency_rates
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0

AIRFLOW_UID=50000
